
$black: #000000;
$black2: #121212;
$black3: #333333;
$black4: #555555;
$black5: #5C5C5C;
$black6: #1A1A1A;
$black7: #232323;
$gray: #BDBDBD;
$gray2: #707070;
$gray3: #838383;
$gray5: #E8E8E8;
$gray6: #F5F5F7;
$gray7: #E0E0E0;
$gray8: rgba(0, 0, 0, 0.65);
$gray9: rgba(0, 0, 0, 0.04);
$gray10: #666666;
$gray11: rgba(0, 0, 0, 0.3);
$white: #FFFFFF;
$white2: rgba(255, 255, 255, 0.8);
$white3: rgba(255, 255, 255, 0.9);
$white4: rgba(255, 255, 255, 0.7);
$white5: rgba(255, 255, 255, 0.4);
$white6: rgba(255, 255, 255, 0.3);
$blue: #3FB3F5;
$blue2: #D5EDF6;
$blue3:#0088CC;
$blue4: #1246AC;
$blue5: #12A2F3;
$blue6: #0A80C2;
$green: #D5F6D6;
$green2:#25D366;