
$black: #000000;
$black2: #121212;
$black3: #333333;
$black4: #555555;
$black5: #5C5C5C;
$gray: #BDBDBD;
$gray2: #707070;
$gray3: #838383;
$gray4: rgba(255, 255, 255, 0.3);
$gray5: #E8E8E8;
$gray6: #F5F5F7;
$white: #FFFFFF;
$white2: rgba(255, 255, 255, 0.8);
$white3: rgba(255, 255, 255, 0.9);
$white4: rgba(255, 255, 255, 0.7);
$blue: #3FB3F5;
$blue2: #D5EDF6;
$blue3:#0088CC;
$blue4: #1246AC;
$blue5: #0387d2;
$green: #D5F6D6;
$green2:#25D366;